@font-face {
  font-family: 'Silkscreen';
  src: url('../fonts/slkscr.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('slkscr.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.redtext {
  font-family: Silkscreen;
  color: red;
  text-decoration: none;
}

#canvas {
border: 1px solid black;
}

#char {
border: 1px solid black;
}

.container {
  text-align: center;
  margin: 0 auto;
}
.hair{
  height:20px;
  width: 100px;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.top {
  height: 80px;
  width: 100px;
  background-color: chocolate;
  text-align: center;
  margin: 0 auto;
  margin-top:0px;
}
.torso {
  height: 120px;
  width: 100px;
  background-color: red;
  text-align: center;
  margin: 0 auto;
  margin-top:0px;
}
.legs {
  height: 120px;
  width: 100px;
  background-color: blue;
  text-align: center;
  margin: 0 auto;
  margin-top:0px;
}
.red {
  background-color: red;
}
.purple{
  background-color: purple;
}
