@font-face {
  font-family: 'Silkscreen';
  src: url('../fonts/slkscr.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('slkscr.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html, body {
  background-color: skyblue;
  height: 100%;
}

body {
  font-family: 'Silkscreen', monospace;
}

#wrapper {
  min-height: 100%;
  position: relative;
  background: url('../img/PIXILART-BKGD-THICK.png') repeat-x left bottom;
  /*background-attachment: fixed;*/
  background-size: 25%;
}

.view-container {
  padding: 20px;
  padding-bottom: 20px; /* Height of the footer */
}

.footer-container {
  width: 100%;
  height: 20px; /* Height of the footer */
	position: absolute;
	bottom: 0;
}

.footer-container a {
  color: black;
  padding: 0 3px;
}

.footer-container a:hover {
  text-decoration: none;
  color: #DDDDDD;
}

footer {
  text-align: center;
  padding: 40px;
    background-color: #3D3B39;
}

.navbar {
  border-radius: 0;
}

#bit-face {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: chocolate;
}

#bit-hair {
  width: inherit;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

#bit-eyes {
  width: inherit;
  height: 5px;
  position: absolute;
  top: 10px;
}

.bit-eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: black;
  top: 10px;
}

#bit-eye-left {
  left: 15px;
}

.redtext {
  color: red;
}

.headings, .chat-forms, .alerts, .instructions {
  text-align: center;
}

.instructions p {
  color: gray;
}

#brand-logo {
  height: 25px;
  width: 25px;
  float: left;
}

#canvas {
  margin: 0 auto;
  border: 1px solid black;
  background-color: beige;
  background-image: url('../img/genericRecRoomFurnishedbar.png');
}

#chat-form {
  padding: 10px;
}

#chat-form input[type="text"] {
  padding: 7px;
}

.user-form {
  margin: 50px auto 70px;
  width: 25%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #AAAAAA;
}

.login-form {
  padding-bottom: 30px;
}

.profile-container {
  margin: 50px auto 70px;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #AAAAAA;
}

.person {
  display: inline-block;
}

.container {
  margin: 0 auto;
}

.hair {
  height: 20px;
  width: 100px;
  background-color: black;
  text-align: center;
  margin: 0 auto;
}

.top {
  height: 80px;
  width: 100px;
  background-color: chocolate;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
}

.eyes {
  height: 20px;
  width: 20px;
  background-color: black;
  position: relative;

  animation: blink-animation 3s steps(7, start) infinite;
  -webkit-animation: blink-animation 3s steps(7, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#left {
  top: 20px;
  left: 50px;
}

.torso {
  height: 100px;
  width: 100px;
  background-color: red;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
}

.legs {
  height: 100px;
  width: 100px;
  background-color: blue;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
}

#avatar-container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.customizer {
  margin-left: 10px;
  height: 300px;
}

#colors {
  height: inherit;
  display: flex;
  margin-top: 35px;
  flex-flow: column;
  justify-content: space-around;
}

input {
  height: 34px;
  font-family: 'Silkscreen';
  border: 1px solid black;
}

.button {
  color: black;
  border: 2px solid black;
  background-color: white;
}

.button:hover {
  color: white;
  border: 2px solid white;
  background-color: black;
}

.button-red {
  color: red;
  border-color: red;
}

.button-red:hover {
  background-color: red;
}

.button-green {
  color: green;
  border-color: green;
}

.button-green:hover {
  background-color: green;
}

.button-blue {
  color: blue;
  border-color: blue;
}

.button-blue:hover {
  background-color: blue;
}

#delete-container {
  text-align: right;
  position: absolute;
  bottom: 50px;
  right: 15px;
  /*margin: 0 25px 25px 0;*/
  padding: 10px;
  /*width: 350px;*/
  /*width: auto;*/
  /*height: auto;*/
}

#delete-container .delete-confirm {
  position: absolute;
  width: 306px;
  height: 200px;
  /*margin-right: 50px;*/
  bottom: 280px;
  right: 110px;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.7);
}

#deleteYes {
  text-align: right;
  font-size: .25em;
  margin-bottom: 100px;
}
