@font-face {
  font-family: 'Silkscreen';
  src: url('../fonts/slkscr.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('slkscr.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.redtext {
  font-family: Silkscreen;
  color: red;
  text-decoration: none;
}

#brand-logo {
  height: 25px;
  width: 25px;
  float: left;
}

#canvas {
  margin: 0 auto;
  border: 1px solid black;
  background-color: beige;
  background-image: url('../img/genericRecRoomFurnishedmessy1.png');
}

.person {
  display: inline-block;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.hair {
  height: 20px;
  width: 100px;
  background-color: black;
  text-align: center;
  margin: 0 auto;
}

.top {
  height: 80px;
  width: 100px;
  background-color: chocolate;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
}

.eyes {
  height: 20px;
  width: 20px;
  background-color: black;
  position: relative;
}

#left {
  top: 20px;
  left: 50px;
}

.torso {
  height: 100px;
  width: 100px;
  background-color: red;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
}

.legs {
  height: 100px;
  width: 100px;
  background-color: blue;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
}

.avatarCustomizer {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.customizer {
  margin-left: 10px;
  height: 300px;
}

#colors {
  height: inherit;
  display: flex;
  margin-top: 35px;
  flex-flow: column;
  justify-content: space-around;
}

input {
  height: 35px;
  font-family: 'Silkscreen';
  border: 1px solid black;
}

.button {
  color: black;
  border: 2px solid black;
  background-color: white;
}

.button:hover {
  color: white;
  border: 2px solid white;
  background-color: black;
}

#delete-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 25px 25px 0;
  width: 250px;
}

#deleteYes {
  text-align: right;
  font-size: .5em;
  margin-bottom: 100px;
}
