canvas {
  border: 1px solid #ddd;
  font-family: 'Silkscreen', monospace;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('slkscr.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
