body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.btn {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 92px;
  color: #fff;
  background-color: gray;
}
.btn span,
.btn:before,
.btn:after {
  float: left;
}
.btn span {
  background: url('https://confnu-production.s3.amazonaws.com/conference_editions/8/images/13/image/repeating-sprite.png') 0 0 repeat-x;
  padding: 0 14px;
}
.btn:before,
.btn:after {
  content: '';
  height: 92px;
  width: 14px;
  background: url('https://confnu-production.s3.amazonaws.com/conference_editions/8/images/16/image/sprite.png') 0 0 no-repeat;
}
.btn:after { background-position: -14px 0; }

/* Primary button hover state */
.btn:hover span { background-position: 0 -92px; }
.btn:hover:before { background-position: -28px 0; }
.btn:hover:after { background-position: -42px 0; }

/* Secondary button */
.btn-secondary span{ background-position: 0 -184px; }
.btn-secondary:before { background-position: 0 -92px; }
.btn-secondary:after { background-position: -14px -92px; }

/* Primary button hover state */
.btn-secondary:hover span { background-position: 0 -276px; }
.btn-secondary:hover:before { background-position: -28px -92px; }
.btn-secondary:hover:after { background-position: -42px -92px; }
