<!-- <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head> -->


<form ng-submit="userSignup()">
  <h1>Signup</h1>
    <div class="form-group">
        <label for="authName">Username</label>
        <input id="authName" class="form-control" type="text" name="text" ng-model="user.name">
    </div>

    <div class="form-group">
        <label for="authPassword">Password</label>
        <input id="authPassword" class="form-control" type="password" name="password" ng-model="user.password">
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
